* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Skranji', sans-serif ;
    text-decoration: none;
    list-style: none;
}

body {
    min-width: 100vh;
    background-color: #ffffff;
}

.LOGO_IMG {
    width: 200px;
    padding: auto;
    margin-left: 40%;
    display: flex;

}

section{
     padding: 70px 17%;
}

.pirate{
    font-size: 100px;
    color: rgb(0, 0, 0);
}

.xizes{
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.btn {
    display: block; 
    background-color: #fb6404;
    width: 180px;
    height: 50px;
    text-align: center;
}

.btn a {
    display: inline-block;
    line-height: 50px;
    color: #ffffff;
    text-decoration: none;
}


.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.imagem_home{
    max-width: 100%;
    width: 600px;
    height: auto;
}

.menu-hamburguer {
    cursor: pointer;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    margin-right: 30%;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
}

header {
    background-color: #000000;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16%;
    height: 170px;
    transition: all .50s ease;
}

.navbar {
    display: flex;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all .50s ease;
}

.img_principal{
    width: 600px;
    height: auto;
}

.navbar a:hover{
    color: #fb6404;
}

.navbar a.active {
    color: #fb6404;
}

.mais_pedidos{
    color: #fb6404;
    text-align: center;
    font-size: 70px;
}

.tesouro{
    background-color: #000000;
}

.produto_tesouro{
    display: inline-block;
    width: 400px;
    margin-left: 15px;
    align-items: center;
}

.produto_tesouro2{
    display: inline-block;
    width: 400px;
    height: 280px;
    margin-left: 15px;
    align-items: center;
}
.produto_tesouro3{
    display: inline-block;
    width: 400px;
    height: 280px;
    margin-left: 15px;
    align-items: center;
}

.burguer_t{
    display: inline;
    margin-left: 130px;
    color: #ffffff;
}
.burguer_t2{
    display: inline;
    margin-left: 230px;
    color: #ffffff;
}
.burguer_t3{
    display: inline;
    margin-left: 230px;
    color: #ffffff;
}

.p1{
    margin-left: 80px;
    display: block;
    color: white;
}

.btn_cardapio {
    background-color: #fb6404;
    color: #ffffff;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    height: 100px;
    width: 400px;
    display: block; 
    margin: 100px auto; 
    line-height: 100px; 
}

footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 10px; 
    width: 100%;
    bottom: 0; 
}


/* @media (max-width: 1280px) {
    header {
        padding: 1px 0;
        transition: .2s;
    }
    .navbar a {
        padding: 5px  0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    .menu-hamburguer {
        background-color: white;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 190px;
        right: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: all 0.5s ease;
    }

    .navbar.active {
        display: flex;
        transform: translateY(0);
    }

    .navbar a {
        color: black;
        font-size: 1.1rem;
        font-weight: 500;

        padding: 10px 0;
        margin: 0;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: red;
    }
} 